

.booyah-box {
	-moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  	-webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  	box-shadow: 1px 1px 2px 0 #d0d0d0;
  	background: #fff;
  	border: 1px solid #ccc;
  	border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  	margin-top: 10px;
  	margin-bottom: 15px;
  	padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

body {
	background: url('/assets/crossword.png');
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.navbar.navbar-inverse {
	background:url('/assets/dark_Tire.png');
	border-radius: 0;
	box-shadow: 0px 1px 3px #2a2a2a;
	margin-bottom: 0;
}

.navbar-inverse .navbar-brand {
	color: #E3E85A;
	font-family: 'chunkfiveroman', sans-serif;
	font-size: 26px;
}

.pagination 
{

  span.disabled {
    color: #aaa !important;
  }
	  em.current 
	  {
	    margin: 0 auto;
	    padding: 0 14px;
	    line-height: 38px;
	    text-decoration: none;
	    background-color: #754B0F;
	    border: 1px solid #DDD;
	    border-left-width: 0;
	    color: white

	  }
	  .previous_page 
	  {
	    border-left: 1px solid #ddd;
	    color: black;
	    text-decoration: none;
	  }
	  .next_page 
	  {
	    color: black;
	    text-decoration: none;
	  }
	  a 
	  {
	    color: black;
	    text-decoration: none;
	  }
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

#map-canvas {
	height: 300px;
}
.clear {
	clear: both;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    height: 550px;
    width: 100%;
}
.carousel-caption {
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 40px;
	font-weight: 100;
	text-shadow: rgba(0,0,0,0.95) 2px 2px;
	background-color: rgba(0,0,0,0.5);
	width: 100%;
	position: absolute;
	left: 0;
}
.carousel {
  box-shadow: 0px 3px 8px #2a2a2a;
}